<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Indique e Ganhe</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/style.css">
  <link rel="shortcut icon" type="imagex/png" href="/assets/img/icon-logo.png">
</head>

<body>
  <nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img href="" src="/assets/img/logo.png" alt="Logo" width="100" height="60" class="d-inline-block align-text-top">
      </a>
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link" href="/index.html">INÍCIO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/assets/view/regulamento.html">REGULAMENTO</a>
        </li>
        <li class="nav-item">
          <div data-respondi-container="" data-respondi-mode="buttonLink" data-respondi-src="https://form.respondi.app/lvScwveg" data-respondi-buttoncolor="#E26000" data-respondi-buttonsize="16"><a href="https://form.respondi.app/lvScwveg" target="_blank" style="background: rgb(226, 96, 0); font-size: 14px; padding: 8px 20.8px; color: rgb(255, 255, 255); display: inline-block; text-decoration: none; border-radius: 8px;">CADASTRE-SE</a></div><script>const bodyScript=document.querySelector('body'),hasScript=document.querySelector('#respondi_src');if(!hasScript){const script=document.createElement('script');script.setAttribute("async", "");document.body.appendChild(script),script.id='respondi_src',script.src='https://embed.respondi.app/embed.js';}</script>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container-fluid">
    <div class="row">
      <div class="banner">
        <img id="banner-padrao" class="img-fluid" src="/assets/img/banner-site.png" alt="" width="1920" height="540"
          border="0" style="display: block;">
          <img id="banner-mobile" class="img-fluid" src="/assets/img/banner-site-viewMobile.png" width="750" height="250"
          border="0" alt="" style="display: none;">
      </div>
      <div class="col-md-6 mx-auto line">
        <div>
          <h3 class="ComoParticipar">Regulamento de Participação</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
          aria-expanded="true" aria-controls="collapseOne">
          1. DIRETRIZES GERAIS
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>1.1</strong> A H2 INCORPORADORA com sede na Av República do Líbano, 251, Pina, Recife/PE, Empresarial
          Riomar, Torre A, sala 1907, inscrita no CNPJ sob o número 32.247.685/0001-61, estabelece o presente
          regulamento do programa denominado "INDIQUE E GANHE", o qual se regerá nos termos e condições a seguir
          estipuladas.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
          aria-expanded="false" aria-controls="collapseTwo">
          2. VIGÊNCIA E PARTICIPANTES
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>2.1</strong> O programa não depende de sorteio, concurso ou operação semelhante e está em conformidade
          com as disposições legais vigentes.
          <br>
          <br>
          <strong>2.2</strong> O programa tem vigência por tempo indeterminado.
          <br>
          <br>
          <strong>NOTA 1.</strong> O programa poderá ser extinto a qualquer tempo a critério exclusivo da H2
          INCORPORADORA. Havendo qualquer alteração, será realizada uma comunicação prévia aos participantes, nestes
          casos, serão respeitados todos os direitos adquiridos pelas pessoas que fizeram indicações até a data da
          extinção do programa.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          3. QUEM PODE PARTICIPAR
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>3.1</strong> Estarão elegíveis a participar do programa qualquer pessoa desde que seja maior de 18
          anos, podendo ser um cliente H2 ou não.
          <br>
          <br>
          <strong>3.2</strong> Estará válida a participação desde que o Cliente INDICADOR aceite os termos descritos no
          regulamento conforme regras da lei geral de proteção de dados (LGPD) e
          ACEITE o presente termo. As indicações só serão válidas se constar o cadastro na base de dados, caso não
          exista o cadastro as alegações de que indicou um cliente após o fechamento da venda não serão aceitas.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseTwo">
          4. COMO FUNCIONA O PROGRAMA
        </button>
      </h2>
      <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>4.1</strong> A indicação só será válida se o cliente INDICADO finalizar todo o processo de vendas e
          realizando a assinatura do contrato com a Caixa Econômica Federal.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          5. PRÊMIO VIGENTE E PRAZO DE ENTREGA
        </button>
      </h2>
      <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>5.1</strong> O cliente INDICADOR receberá o bônus de R$: 300,00 (Trezentos reais) por cada indicação
          realizada.
          <br>
          <br>
          <strong>5.2</strong> O pagamento será realizado ao cliente INDICADOR 10 dias após a liquidação do contrato de
          financiamento do agente financeiro com a construtura. O pagamento será realizado via PIX mediante dados
          informado.
          <br>
          <br>
          <strong>NOTA 1</strong> A H2 INCORPORADORA se reserva ao direito de poder alterar o prêmio, a qualquer
          momento, por mera liberalidade, sem motivação justificada e sem aviso prévio.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix"
          aria-expanded="false" aria-controls="collapseSix">
          6. VALIDAÇÃO DE INDICAÇÕES
        </button>
      </h2>
      <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>6.1</strong> Caso o amigo seja indicado por mais de um cliente INDICADOR, ganha o prêmio quem tiver
          feito a primeira indicação.
          <br>
          <br>
          <strong>6.2</strong> Corretores de imóveis não terá direito a participar do programa, mesmo que seja um
          cliente H2 Incorporadora.
          <br>
          <br>
          <strong>6.2</strong> Não será válida indicação de pessoas que já estão com propostas em negociação na H2
          Incorporadora.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
          7. FINALIDADE DE TRATAMENTO DE DADOS
        </button>
      </h2>
      <div id="collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>7.1</strong> O cliente INDICADOR e o Cliente INDICADO autoriza a H2 Incorporadora a realizar o
          tratamento, ou seja, a utilizar os dados pessoais relacionados à
          divulgação de sua imagem e/ou voz, em áudio e vídeo, para finalidade de promoção da campanha publicitária de
          interesse da H2 Incorporadora ocorrendo a divulgação no seu site e demais mídias, online e offline, já
          existentes ou que venham a existir.
          <br>
          <br>
          <strong>7.2</strong> A autorização ora pactuada é feita de forma inteiramente gratuita, nada havendo a ser
          pleiteado ou recebido da H2 Incorporadora além da premiação descrita no item 5 do regulamento pela indicação
          do amigo. O cliente INDICADOR concorda que nada tem a reclamar com relação à autorização ora concedida, em
          Juízo ou fora dele.
          <br>
          <br>
          <strong>7.3</strong> Nenhuma das utilizações previstas no caput deste regulamento, ou ainda qualquer outra que
          pretenda o CONTROLADOR dar às imagens e/ou vozes cuja utilização foi autorizada através deste Termo, têm
          limitação de tempo ou de número de vezes, sem que seja devida ao TITULAR qualquer remuneração além da
          premiação pela indicação do amigo.
          <br>
          <br>
          <strong>7.4</strong> Caso seja necessário o compartilhamento de dados com terceiros que não tenham sido
          relacionados nesse termo ou qualquer alteração contratual posterior, será ajustado novo termo de consentimento
          para este fim (§ 6° do artigo 8° e § 2° do artigo 9° da Lei n° 13.709/2018).
          <br>
          <br>
          <strong>7.5</strong> Em caso de alteração na finalidade, que esteja em desacordo com o consentimento original,
          a H2 Incorporadora deverá comunicar ao cliente INDICADOR, que poderá revogar o consentimento.
          <br>
          <br>
          <strong>7.6</strong> O cliente INDICADOR se compromete a não inspecionar ou aprovar a arte final ou qualquer
          material relacionado ao uso de sua imagem e/ou voz ora concedido, ficando acordado que a H2 Incorporadora se
          obriga a não utilizar os direitos de sua personalidade de forma pejorativa ou distorcida.
          <br>
          <br>
          <strong>7.7</strong> O cliente INDICADOR e o cliente INDICADO autoriza que a H2 Incorporadora utilize sua
          imagem com a finalidade de divulgação de campanha publicitária de seu interesse, adotando todas as medidas de
          proteção de dados, visando a preservação de seu direito à intimidade, coibindo o uso com finalidade distinta
          prevista neste termo.
          <br>
          <br>
          <strong>7.8</strong> De acordo com a Lei nº13.709, de 14 de agosto de 2018, a H2 INCORPORADORA garantirá a
          proteção e confidencialidade dos dados pessoais dos indicados.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
          8. INFORMAÇÕES IMPORTANTES
        </button>
      </h2>
      <div id="collapseEight" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>8.1</strong> Cada INDICAÇÃO terá direito a receber um prêmio para cada indicação fechada, então se
          mais de um indicado comprar ou se o indicado comprar mais unidades, ficam vigentes todas as premiações
          cabíveis.
          <br>
          <br>
          <strong>8.2</strong> Cada pessoa poderá indicar quantos contatos desejar.
          <br>
          <br>
          <strong>8.2</strong> O Programa “INDIQUE E GANHE”, não está vinculado a qualquer outra promoção da H2
          INCORPORADORA em vigor durante seu prazo e, portanto, seus benefícios não são cumulativos.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
          9. DISPOSIÇÕES FINAIS
        </button>
      </h2>
      <div id="collapseNine" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>9.1</strong> O programa independe de qualquer modalidadede sorteio, vale-brinde, concurso ou operação
          assemelhada, não estando, portanto, sujeita à autorização prévia estabelecida no artigo 1º da Lein º5.768/71.
          O cliente abaixo identificado declara ter plena ciência dos termos constantes do presente regulamento,
          concordando expressamente com todos seus termos, cláusulas e condições.
          <br>
          <br>
          <strong>9.2</strong> Quaisquer dúvidas, divergências ou situações não previstas neste regulamento, serão
          analisadas e decididas unilateralmente pela diretoria da H2 INCORPORADORA.
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <footer class="text-center text-lg-start" style="background-color: #224969;">
    <!-- Copyright -->
    <div class="text-center text-white p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      Todos os direitos reservados
    </div>
    <!-- Copyright -->
  </footer>
  <script
    type="text/javascript">(function () { var options = { whatsapp: "+5581 973257032", company_logo_url: "", greeting_message: "Olá!", call_to_action: "Precisa de ajuda ?", position: "right", }; var proto = document.location.protocol, host = "jivo.link", url = proto + "//" + host; var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/ferramentas-de-marketing/jivowpp.js'; s.onload = function () { WhWidgetSendButton.init(host, proto, options); }; var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x); })();</script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
    <script src="/assets/index.js"></script>
</body>

</html>